Redirect permanent /2012/03/04/paris-chess-board/ /posts/2012-03-04_paris-chess-board/
Redirect permanent /2011/10/26/teaaaaaa-timer/ /posts/2011-10-26_msp430-based-teaaaaaa-timer/
Redirect permanent /2011/03/09/paris-circuit-board/ /posts/2011-03-09_paris-circuit-board/
Redirect permanent /2011/01/05/bwaaaaaaaaaaaaaaalarm-clock/ /posts/2011-01-05_bwaaaaaaaaaaaaaaalarm-clock/
Redirect permanent /2011/01/01/first-post/ /posts/2011-01-01_first-post/
Redirect permanent /about/ /pages/about/
Redirect permanent /2012/03/04/paris-chess-board /posts/2012-03-04_paris-chess-board/
Redirect permanent /2011/10/26/teaaaaaa-timer /posts/2011-10-26_msp430-based-teaaaaaa-timer/
Redirect permanent /2011/03/09/paris-circuit-board /posts/2011-03-09_paris-circuit-board/
Redirect permanent /2011/01/05/bwaaaaaaaaaaaaaaalarm-clock /posts/2011-01-05_bwaaaaaaaaaaaaaaalarm-clock/
Redirect permanent /2011/01/01/first-post /posts/2011-01-01_first-post/
Redirect permanent /about /pages/about/



