body, html {
   min-height:100%
}

body {
   background: linear-gradient(45deg, %{blog_parameters['color1']}% 0%, %{blog_parameters['color2']}% 100%);
   margin: 0;
   padding: 0;
}

html * {
   /*font-family: "Helvetica";*/
   color: rgb(255, 255, 255);
}

div.grid {
}

div.cell {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

div.centerer {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10%;
}

.header h1 {
    font-size: 3.2em;
    font-weight: bold;
    margin: 10px 0 0 0;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0px 0px 30px rgba(0, 0, 0, 0.075);
}

div.home {
    width: %{column_width(1)}%;
}

div.buttons {
    width: %{column_width(-1)}%;
}

div.padding {
    width: %{column_width(3)}%;
}

div.entry {
    width: %{column_width(1)}%;
}

img.thumbnail {
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    vertical-align: bottom;
}
